//
// Code and syntax highlighting
//
// stylelint-disable selector-no-qualifying-type, declaration-block-semicolon-newline-after,declaration-block-single-line-max-declarations, selector-no-type, selector-max-type

code {
  padding: 0.2em 0.15em;
  font-weight: 400;
  background-color: $code-background-color;
  border: $border $border-color;
  border-radius: $border-radius;
}

// Avoid appearance of dark border around visited code links in Safari
a:visited code {
  border-color: $border-color;
}

// Content structure for highlighted code blocks using fences or Liquid
//
// ```[LANG]...```, no kramdown line_numbers:
//   div.[language-LANG.]highlighter-rouge > div.highlight > pre.highlight > code
//
// ```[LANG]...```, kramdown line_numbers = true:
//   div.[language-LANG.]highlighter-rouge > div.highlight > pre.highlight > code
//   > div.table-wrapper > table.rouge-table > tbody > tr
//   > td.rouge-gutter.gl > pre.lineno
//   | td.rouge-code > pre
//
// {% highlight LANG %}...{% endhighlight %}:
//   figure.highlight > pre > code.language-LANG
//
// {% highlight LANG linenos %}...{% endhighlight %}:
//   figure.highlight > pre > code.language-LANG
//   > div.table-wrapper > table.rouge-table > tbody > tr
//   > td.gutter.gl > pre.lineno
//   | td.code > pre
//
// fix_linenos removes the outermost pre when it encloses table.rouge-table
//
// See docs/index-test.md for some tests.
//
// No kramdown line_numbers: fences and Liquid highlighting look the same.
// Kramdown line_numbers = true: fences have a wider gutter than with Liquid?

// ```[LANG]...```
div.highlighter-rouge {
  padding: $sp-3;
  margin-top: 0;
  margin-bottom: $sp-3;
  overflow-x: auto;
  background-color: $code-background-color;
  border-radius: $border-radius;
  box-shadow: none;
  -webkit-overflow-scrolling: touch;

  div.highlight,
  pre.highlight,
  code {
    padding: 0;
    margin: 0;
    border: 0;
  }
}

// {% highlight LANG %}...{% endhighlight %},
// {% highlight LANG linenos %}...{% endhighlight %}:
figure.highlight {
  padding: $sp-3;
  margin-top: 0;
  margin-bottom: $sp-3;
  background-color: $code-background-color;
  border-radius: $border-radius;
  box-shadow: none;
  -webkit-overflow-scrolling: touch;

  pre,
  code {
    padding: 0;
    margin: 0;
    border: 0;
  }
}

// ```[LANG]...```, kramdown line_numbers = true,
// {% highlight LANG linenos %}...{% endhighlight %}:
.highlight .table-wrapper {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;

  td,
  pre {
    @include fs-2;
    min-width: 0;
    padding: 0;
    background-color: $code-background-color;
    border: 0;
  }

  td.gl {
    padding-right: $sp-3;
  }

  pre {
    margin: 0;
    line-height: 2;
  }
}

// Highlight colors
.highlight .c { color: $code-comment; }
.highlight .err { color: $code-error; }
.highlight .g { color: $code-generic; }
.highlight .k { color: $code-keyword; }
.highlight .l { color: $code-literal; }
.highlight .n { color: $code-name; }
.highlight .o { color: $code-operator; }
.highlight .x { color: $code-other; }
.highlight .p { color: $code-punctuation; }
.highlight .cm { color: $code-comment-multiline; }
.highlight .cp { color: $code-comment-preproc; }
.highlight .c1 { color: $code-comment-single; }
.highlight .cs { color: $code-comment-special; }
.highlight .gd { color: $code-generic-deleted; }
.highlight .ge { font-style: italic; color: $code-generic-emph; }
.highlight .gr { color: $code-generic-error; }
.highlight .gh { color: $code-generic-heading; }
.highlight .gi { color: $code-generic-inserted; }
.highlight .go { color: $code-generic-output; }
.highlight .gp { color: $code-generic-prompt; }
.highlight .gs { font-weight: bold; color: $code-generic-strong; }
.highlight .gu { color: $code-generic-subheading; }
.highlight .gt { color: $code-generic-traceback; }
.highlight .kc { color: $code-keyword-constant; }
.highlight .kd { color: $code-keyword-declaration; }
.highlight .kn { color: $code-keyword-namespace; }
.highlight .kp { color: $code-keyword-pseudo; }
.highlight .kr { color: $code-keyword-reserved; }
.highlight .kt { color: $code-keyword-type; }
.highlight .ld { color: $code-literal-date; }
.highlight .m { color: $code-literal-number; }
.highlight .s { color: $code-literal-string; }
.highlight .na { color: $code-name-attribute; }
.highlight .nb { color: $code-name-builtin; }
.highlight .nc { color: $code-name-class; }
.highlight .no { color: $code-name-constant; }
.highlight .nd { color: $code-name-decorator; }
.highlight .ni { color: $code-name-entity; }
.highlight .ne { color: $code-name-exception; }
.highlight .nf { color: $code-name-function; }
.highlight .nl { color: $code-name-label; }
.highlight .nn { color: $code-name-namespace; }
.highlight .nx { color: $code-name-other; }
.highlight .py { color: $code-name-property; }
.highlight .nt { color: $code-name-tag; }
.highlight .nv { color: $code-name-variable; }
.highlight .ow { color: $code-operator-word; }
.highlight .w { color: $code-text-whitespace; }
.highlight .mf { color: $code-literal-number-float; }
.highlight .mh { color: $code-literal-number-hex; }
.highlight .mi { color: $code-literal-number-integer; }
.highlight .mo { color: $code-literal-number-oct; }
.highlight .sb { color: $code-literal-string-backtick; }
.highlight .sc { color: $code-literal-string-char; }
.highlight .sd { color: $code-literal-string-doc; }
.highlight .s2 { color: $code-literal-string-double; }
.highlight .se { color: $code-literal-string-escape; }
.highlight .sh { color: $code-literal-string-heredoc; }
.highlight .si { color: $code-literal-string-interpol; }
.highlight .sx { color: $code-literal-string-other; }
.highlight .sr { color: $code-literal-string-regex; }
.highlight .s1 { color: $code-literal-string-single; }
.highlight .ss { color: $code-literal-string-symbol; }
.highlight .bp { color: $code-name-builtin-pseudo; }
.highlight .vc { color: $code-name-variable-class; }
.highlight .vg { color: $code-name-variable-global; }
.highlight .vi { color: $code-name-variable-instance; }
.highlight .il { color: $code-literal-number-integer-long; }


//
// Code examples (rendered)
//

.code-example {
  padding: $sp-3;
  margin-bottom: $sp-3;
  overflow: auto;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  + .highlighter-rouge,
  + figure.highlight {
    position: relative;
    margin-top: -$sp-4;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
